extends layout
script.

block content
    div.cm-string
        div.container-fluid
            // Wrapper
            div(#scrollbox3,#wrapper).row
                div.col-sm-3.col-md-2.sidebar
                    h1= "Menu"
                    ul.nav
                        li
                            a(href="/account/getTestlist/all")#getTests="Tests"
                        li
                            a(href="/users/all")#getUsers= "Users"
                        li
                            a(href="/account/createQuestion")= "Create Question"
                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    h1.page-header= "Tests List"
                    form.navbar-form(action="/account/addTest" method="POST")
                        input(type="text", name="testName", placeholder="Add name new test").form-control
                        input(type="hidden", name="saveOptions" value="admin")
                        input(type="submit", value="Create Test").form-control.btn-primary
                    h2 Test List

                    table.table
                        thead
                            th test Name
                            th test Index
                        tbody.table-bordered
                            each result, key in data
                                tr
                                        each value, key in result
                                            if key =='testIndex'
                                                th #{value}
                                            else if key =='testName'
                                                th #{value}
                                        th
                                            form.navbar-form(action="/account/delTest/admin" method="DELETE" name="test")
                                                each value, key in result
                                                    input(type="hidden" name="#{key}" value="#{value}").form-control
                                                input(type="submit" value="Delete").btn.btn-primary
                                                //a(href="/account/testEditor")
                                        th
                                            form.navbar-form(action="/account/testEditor" method="POST" name="edit")
                                                input(type="submit" value="Questions").edit.btn.btn-primary
                                                input(type="hidden" name="testName" )

block otherScripts
    script(src='/js/testEditor.js')

