extends layout
script.

block content
    div.cm-string
        div.container-fluid
            // Wrapper
            div(#scrollbox3,#wrapper).row
                div.col-sm-3.col-md-2.sidebar
                    h1= "Menu"
                    ul.nav
                        li
                            a(href="/account/getTestlist/all")#getTests="Tests"
                        li
                            a(href="/users/all")#getUsers= "Users"
                        li
                            a= "Results"
                        li
                            a(href="/account/pictures")= "Pictures"
                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    // USER LIST
                    h1.page-header= "Tests List"
                    form.navbar-form(action="/account/addTest/admin" method="POST")
                        input(type="text", name="testName", placeholder="Add name new test").form-control
                        input(type="submit", value="Create Test").form-control.btn-primary
                    h2 Test List
                        //div.col-sm-4.col-sm-offset-3.main
                    table.table
                        tbody
                            each result, key in data
                                tr
                                    th
                                        form.navbar-form(action="/account/delTest/admin" method="DELETE")
                                            each value, key in result
                                                input(type="text" name="#{key}" value="#{value}").form-control
                                            input(type="submit" value="Delete").btn.btn-primary
        // /USER LIST

    // /WRAPPER

