extends layout

block content
    div.navbar.navbar-fixed-top
        div.container-fluid
            // Wrapper
            #wrapper.row
                div.col-sm-3.col-md-2.sidebar
                    h1= "Menu"
                    ul.nav
                        li
                            a(href="/account/getTestlist")#getTests="Tests"
                        li
                            a(href="/users")#getUsers= "Users"
                        li
                            a= "Results"
                        li
                            a= "Pictures"
                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    // USER LIST
                    h1.page-header= "Tests List"
                    form.navbar-form.navbar-right
                        input(type="text", placeholder="Add name new test").form-control
                        input(type="button", value="Create Test", onclick="function(e){console.log(e)}").form-control.btn-primary
                    h2 Test List
                    #userList.table-responsive
                        table.table.table-striped
                            thead
                                th Test Name
                                th TestId
                                th
                                th
                            tbody
                                each result, key in docs
                                    tr
                                        each value, key in result
                                            th #{value}
                                        th
                                            button#delete.btn.btn-primary= "Delete"
                                        th
                                            button#edit.btn.btn-primary= "Edit"
        // /USER LIST

    // /WRAPPER

