extends layout

block content
    div.navbar
        div.container-fluid
            // Wrapper
            div(#scrollbox3,#wrapper).row
                div.col-sm-3.col-md-2.sidebar
                    h1= "Menu"
                    ul.nav
                        li
                            a(href="/account/getTestlist/all")#getTests="Tests"
                        li
                            a(href="/users/all")#getUsers= "Users"
                        li
                            a(href="/account/createQuestion")= "Create Question"
                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    // USER LIST
                    h1.page-header= "Users List"
                    form.navbar-form.navbar-right(action="/account/signup/admin" method="POST")
                        input(type="text", placeholder="Username" name="fullName").form-control
                        input(type="email", placeholder="Email" name="email").form-control
                        input(type="password", placeholder="password" name="password").form-control
                        input(type="submit", value="Add User").form-control.btn-primary
                    h2 Users List
                    table.table
                        thead
                            th Name
                            th Email
                            th password
                            th accessToken
                        tbody
                            each result, key in data
                                tr
                                    each value, key in result
                                        th #{value}
                                    th
                                        form.navbar-form.navbar-left(action="/account/delUsers" method="DELETE" name="users")
                                            each value, key in result
                                                input(type="hidden" name="#{key}" value="#{value}").form-control
                                            input(type="submit" value="Delete").btn.btn-primary
                                    th
                                        form.navbar-form.navbar-left(action="/account/results" method="get" name="wathResalt")
                                            input(type="hidden" name="email" value="#{value}").form-control
                                            input(type="submit" value="Results").btn.btn-primary

block otherScripts
    script(src='/js/testEditor.js')